Node-Red flow.json
[{"id":"513f3b6c.1b9e34","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"570e7e88.c2ff1","type":"ui_form","z":"513f3b6c.1b9e34","name":"","label":"","group":"9f17350.8cbeac8","order":1,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":280,"wires":[["87d26cad.db40c"]]},{"id":"87d26cad.db40c","type":"function","z":"513f3b6c.1b9e34","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":220,"wires":[["2b88d483.a0d8ec","714e2094.28337"]]},{"id":"2d93e191.4daa9e","type":"function","z":"513f3b6c.1b9e34","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":220,"wires":[["e309c069.94927"]]},{"id":"2b88d483.a0d8ec","type":"watson-conversation-v1","z":"513f3b6c.1b9e34","name":"Customer Care","workspaceid":"5cf3dd03-78cb-4cc5-99e8-d112bd50894c","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/969ea000-95cb-412f-aa1a-1284d6417b6a","timeout":"","optout-learning":false,"x":520,"y":140,"wires":[["6e6dd60f.768e78","2d93e191.4daa9e"]]},{"id":"714e2094.28337","type":"ui_text","z":"513f3b6c.1b9e34","group":"9f17350.8cbeac8","order":2,"width":0,"height":0,"name":"","label":"You : ","format":"{{msg.payload}}","layout":"row-left","x":320,"y":360,"wires":[]},{"id":"6e6dd60f.768e78","type":"debug","z":"513f3b6c.1b9e34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":80,"wires":[]},{"id":"e309c069.94927","type":"ui_text","z":"513f3b6c.1b9e34","group":"9f17350.8cbeac8","order":3,"width":12,"height":6,"name":"","label":"Bot : ","format":"{{msg.payload}}","layout":"col-center","x":880,"y":360,"wires":[]},{"id":"9f17350.8cbeac8","type":"ui_group","z":"","name":"Chatbot","tab":"508cc278.6e239c","order":1,"disp":true,"width":12,"collapse":false},{"id":"508cc278.6e239c","type":"ui_tab","z":"","name":"Customer Care Helpdesk","icon":"dashboard","disabled":false,"hidden":false}]